body, table {
    font-family: verdana, arial, serif;
    font-size: 12px;
}

h2 {
    border-bottom: 1px solid #AAAAAA;
}

table.details {
    width: 800px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

td {
    vertical-align: text-top;
}

td.heading {
    font-weight: bold;
    width: 150px;
}

#index {
    float: left;
    width: 250px;
    height: 100%;
    margin-right: 25px;
    border-right: 1px solid #AAAAAA;
    vertical-align: text-top;
    background-color: #eeeeff;
}

#content, #title, #footer {
    margin-left: 260;
}

#footer {
    margin-top: 25px;
}

.indexheading {
    font-weight: bold;
}

pre.code {
    background-color: #EEEEEE;
    padding: 5px;
}
